<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="width: 100%">
        <li class="nav-item">
          <a class="nav-link " [routerLink] = "['home']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink] = "['table']" routerLinkActive = "active">All cards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink] = "['card']" routerLinkActive = "active">Learn cards</a>
        </li>
        <li class="nav-item">
          <a class="bi bi-info-circle nav-link text-primary" [routerLink] = "['video']"
             style="font-size:18px; color: #f08080;"
             data-bs-toggle="tooltip" data-bs-placement="bottom" title="How to use"></a>
        </li>
      </ul>
      <div class="container-fluid" style="text-align: right">
        <span style="font-family: 'Kalam', cursive; font-size: 30px;">Master every subject</span>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
