.container {
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.flipcard {
  perspective: 1000px;
  height: 300px;
}
.flipcard .flipcard-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flipcard .card-front,
.flipcard .card-back {
  width: 100%;
  height: 100%;
  position: relative;
  backface-visibility: hidden;
  transition: all .3s;
}
.flipcard .card-front {
  z-index: 2;
}
.flipcard .card-front::after {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  bottom: -1px;
  right: -1px;

}
.flipcard .card-back {
  position: absolute;
  top: 0;
  text-align: left;
  z-index: 1;
  transform: rotateY(180deg);
  overflow-y: auto;
}
/* the flippy magic */
.flipcard:hover .flipcard-wrap {
  transform: rotateY(-180deg);
}

.flipcard-wrap:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
