<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4" >
      <div class="flipcard">
        <div class="flipcard-wrap border-primary">
          <div class="card card-front text-primary" >
            <div class="card-header">Set name</div>
            <div class="card-body" >
              <p>card front</p>
            </div>
          </div>
          <div class="card card-back">
            <div class="card-body">
              <p style="text-align: center">card back</p>
            </div>
            <div class="card-footer">
              <p>Note: </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>
  <div style="text-align: center">
    <a href="#" style="font-size: 30px"><i class="bi bi-chevron-left"></i></a>
    <a href="#" style="font-size: 30px"><i class="bi bi-chevron-right"></i></a>
  </div>
</div>


