<div
  class="p-5 text-center bg-image"
  style="
      background-image: url('../../../assets/img/thought-catalog-505eectW54k-unsplash.jpg');
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      height: 100%;
    "
>
  <div class="mask"
       style="
       background-color: rgba(0, 0, 0, 0.6);
       height: 75%;
      "
  >
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Welcome to <span style="font-family: 'Kalam', cursive;">Infinitus</span></h1>
        <p> Create your own study material easily and fast</p>
        <a class="btn btn-outline-light btn-lg" [routerLink]="['/register']" role="button">Let's try it</a>
      </div>
    </div>
  </div>
</div>
