<div class = 'row m-0 w-100'>
  <div class = 'col-md-4 offset-4 mt-5'>
    <h4>Login</h4>
    <form>
      <div class="mb-3">
        <input class = 'form-control' type = "text" formControlName="username" name = "username" placeholder = "Username" />
        <div class="invalid-feedback">
          <div>Username is required</div>
        </div>
      </div>
      <div class="mb-3">
        <input class = 'form-control' type = "password" formControlName="password" name = "password" placeholder = "Password" />
        <div class="invalid-feedback">
          <div>Password is required</div>
        </div>
      </div>
      <button type="button" class="btn btn-outline-primary">Log In</button>
    </form>
  </div>
</div>
