<div class = 'row m-0 w-100'>
  <div class = 'col-md-4 offset-4 mt-5'>
    <h4> Please register</h4>
    <form>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="email" class="form-control" id="username">
      </div>
      <div class="mb-3">
        <label for="inputEmail" class="form-label">E-mail address</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="button" class="btn btn-outline-primary">Submit</button>
    </form>
  </div>
</div>

